<div class="row">
    <div class="col-md-1"></div>    
       <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading text-center"> 
                <h3>Your Bucket List<h3>
            </div>
                <div class="panel-body">
                 <% @bucketlists.each do |bucketlist| %>
	               <div class="row">
	                   <div class="col-md-6">
                        <% if bucketlist.photos[0] %>
		                <%=image_tag bucketlist.photos[0].image.url(:medium) %>
                        <% end %>
	               </div>    
                 <div class="col-md-6">
                    <h3><strong><%= bucketlist.to_do %></strong></h3>
                       <p><%=bucketlist.summary %></p>
                        <p><%=bucketlist.date %></p>
                         <class="btn btn-primary"><%= link_to "Add Photo", new_bucketlist_photo_path(bucketlist), class: "btn btn-primary"%>
                             <br>
                             <br>
                         <class="btn btn-primary"><%= link_to "Edit", edit_bucketlist_path(bucketlist), class: "btn btn-primary"%>
                            <br>
                            <br>
                     <class="btn btn-primary"><%= link_to "Delete", bucketlist, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary"%>
                            <br>
                     </div>
                </div>
                 <br>
                 <br>
        <% end %>
      </div>
    </div>
  </div>
</div>